main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 50px;
}

.main__bottom,
.main__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.5);
}
