.forecast-card {
  .forecast-card__container {
    display: flex;
    justify-content: center;
    gap: 2vmax;

    margin-top: 20px;

    .forecast {
      text-align: center;

      h1 {
        font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
      }

      .forecast__icon {
        width: 5vmax;
      }

      .forecast__humidity {
        display: flex;
        align-items: center;

        img {
          width: 2vmax;
        }
      }
    }
  }
}
