@use "header/header";

@use "main/main";
@use "main/__main-card/main__main-card";
@use "main/__weather-card/main__weather-card";
@use "main/forecast-card/forecast-card";
@use "main/info-card/info-card";

@use "elements/headings";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #687585, #202b39);
}

body,
body * {
  font-family: "Poppins", sans-serif;
}